.ui-input {
  width: 100%;
  &__box {
    position: relative;
    width: 100%;
  }
  //
  &__field {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    background-color: var(--white);
    color: var(--text-main);
    height: 34px;
    padding: 12px 12px 12px 12px;
    border: unset;
    border-radius: 4px;
    border: 1px solid var(--color-stroke);
    box-sizing: border-box;
    width: 100%;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Убирает стрелки в поле ввода типа number для Firefox */
    &[type='number'] {
      -moz-appearance: textfield;
    }

    &[type='password'] {
      -webkit-text-security: disc;
      -moz-text-security: disc;
      font-size: 25px;
      color: var(--primary);
    }
    &-serch {
      padding: 12px 12px 12px 32px;
      @include mq($desctop) {
        font-size: 14px;
        line-height: 18px;
        // padding: 24px 36px 7px 16px;
      }
      @include transition();
    }
    @include mq($desctop) {
      font-size: 14px;
      line-height: 18px;
      // padding: 24px 36px 7px 16px;
    }
    @include transition();

    &::placeholder {
      color: rgba(44, 44, 44, 0.4);
    }

    &:not(:disabled) {
      &:focus,
      &:hover {
        outline: none;
        border: 1px solid var(--color-stroke);
      }
    }

    &:disabled {
      color: var(--sub-text);
    }
  }
  &__text {
    display: flex;
    padding-top: 2px;
    line-height: 16px;
    span {
      font-size: 12px;
      font-weight: 500;
      color: var(--sub-text);
      @include mq($desctop) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
  &__label {
    position: absolute;
    top: 23px;
    left: 12px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    transform: translateY(-50%);
    font-size: 14px;
    line-height: 18px;
    color: var(--primary);
    @include mq($desctop) {
      font-size: 14px;
      line-height: 18px;
    }
    @include transition();
  }
  &__status-icon {
    position: absolute;
    left: 15px;
    top: 11px;
  }
  &__icon {
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    transform: translateY(-50%);
    top: 50%;
    left: 10px;
    svg {
      fill: none;
      path {
        stroke: var(--primary);
      }
    }
    @include mq($desctop) {
      width: 24px;
      height: 24px;
      left: 12px;
    }
  }
  &--with-label {
    .ui-input__field {
      padding-top: 24px;
    }
  }
  &--error {
    animation: shake 0.2s ease-in-out 0s 2;

    .ui-input__field {
      border: 1px solid #ff5959;
      color: var(--text-main);

      &::placeholder {
        color: #ff5959;
      }

      &:not(:disabled) {
        &:focus,
        &:hover {
          border: 1px solid #ff5959;
        }
      }
    }
    .ui-input__text span {
      color: #ff5959;
    }
    .ui-input__label {
      color: #ff5959;
    }
    .ui-input__icon {
      svg {
        fill: none;
        path {
          stroke: #ff5959;
        }
      }
    }
  }
  &--success {
    .ui-input__field {
      border: 1px solid #3bbc71;
      color: var(--text-main);

      &::placeholder {
        color: #3bbc71;
      }

      &:not(:disabled) {
        &:focus,
        &:hover {
          border: 1px solid #3bbc71;
        }
      }
    }
    .ui-input__text span {
      color: #3bbc71;
    }
    .ui-input__label {
      color: #3bbc71;
    }
    .ui-input__icon {
      svg {
        fill: none;
        path {
          stroke: #3bbc71;
        }
      }
    }
  }
  &--status {
    // pointer-events: none;
    .ui-input__field {
      padding: 19px 30px 4px 45px;
    }
    .ui-input__label {
      left: 45px;
    }
  }
  &--disabled {
    .ui-input__field {
      border: none;
      color: var(--color-explain);
    }
    .ui-input__label {
      color: var(--color-explain);
    }
  }
  &--empty {
    .ui-input__field {
      background-color: var(--white);
    }
  }
  &--highlighted {
    box-shadow: 0px 0px 16px 1px #d1f5ff;
  }
}
.ui-input__field:focus ~ .ui-input__label,
.ui-input--label-on-top .ui-input__label {
  font-size: 10px;
  line-height: 16px;
  margin-top: -9px;
  @include mq($desctop) {
    font-size: 12px;
    line-height: 16px;
  }
}
