.ui-pagination {
  display: flex;
  align-items: center;
  // border-top: 1px solid #d6d6d6;
  column-gap: 16px;
  &__arrow-next {
    transform: rotate(180deg);
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    background-color: var(--white);
    color: var(--primary);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border: unset;

    @include transition();

    @include hover() {
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
      background-color: var(--primary);
      color: var(--white);
      path {
        stroke: #eef9ff;
      }
    }

    &.active {
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
      background-color: var(--primary);
      color: var(--white);
      @include hover() {
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
        background-color: var(--primary-hover);
        color: var(--white);
      }
    }
    @include mq($wd) {
      font-size: 16px;
    }
  }
  &__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: var(--primary);
    font-size: 12px;
    @include mq($wd) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
