.ui-radio {
  display: block;
  position: relative;
  font-size: 0;
  margin-bottom: 6px;
  &--small {
    margin-bottom: 3px;
    .ui-radio__text {
      font-size: 12px;
      line-height: 16px;
    }
    .ui-radio__box {
      width: 12px;
      height: 12px;
      &:before {
        width: 6px;
        height: 6px;
      }
    }
  }
  &__box {
    width: 24px;
    height: 24px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;

    &:before {
      content: '';
      display: block;
      border-radius: 10px;
      width: 16px;
      height: 16px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include transition();
    }
  }
  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: var(--text-main);
    margin-bottom: 11px;
  }
  &__switch-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--text-main);
  }
  &__text {
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: var(--text-main);
  }
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    z-index: -10;
    visibility: hidden;
    opacity: 0;
    &:enabled {
      & ~ .ui-radio__body {
        display: flex;
        align-items: center;
        cursor: pointer;
        .ui-radio__box {
          border-color: var(--color-stroke);
        }
      }
      &:checked ~ .ui-radio__body .ui-radio__box {
        background: var(--primary);
        border-radius: 10px;
        border-width: 1px;
      }
      &:checked {
        & ~ .ui-radio__body .ui-radio__box:before {
          background-color: var(--white);
        }
      }
    }
    &:disabled:checked ~ .ui-radio__body .ui-radio__box {
      border-color: var(--color-stroke);
      background-color: var(--color-stroke);
    }
  }
  &--error {
    .ui-radio__box {
      animation: shake 0.2s ease-in-out 0s 2;
      border-color: var(--error);
    }
    .ui-radio__text {
      color: var(--error);
    }
  }
  &--disabled {
    .ui-radio__box {
      border-color: var(--color-explain);
    }
    .ui-radio__text {
      color: var(--color-explain);
    }
  }
}
