/* Define font-face for NotoSans Regular */
@font-face {
  font-family: 'NotoSans-Regular';
  src: url('../fonts/Noto/NotoSans-Regular.ttf');
  // src: url('./fonts/NotoSans/NotoSans-Regular.woff2') format('woff2'),
  //   url('./fonts/NotoSans/NotoSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Define font-face for NotoSans Italic */
@font-face {
  font-family: 'NotoSans-Italic';
  src: url('../fonts/Noto/NotoSans-Italic.ttf');
  // src: url('./fonts/NotoSans/NotoSans-Italic.woff2') format('woff2'),
  //   url('./fonts/NotoSans/NotoSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Define font-face for NotoSans Bold */
@font-face {
  font-family: 'NotoSans-Bold';
  src: url('../fonts/Noto/NotoSans-Bold.ttf');
  // src: url('./fonts/NotoSans/NotoSans-Bold.woff2') format('woff2'),
  //   url('./fonts/NotoSans/NotoSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Define font-face for NotoSans Bold Italic */
@font-face {
  font-family: 'NotoSans-BoldItalic';
  src: url('../fonts/Noto/NotoSans-BoldItalic.ttf');
  // src: url('./fonts/NotoSans/NotoSans-BoldItalic.woff2') format('woff2'),
  //   url('./fonts/NotoSans/NotoSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Variables for fonts */
