@mixin light-theme {
  --primary: #{$main-button};
  --primary-hover: #{$main-button-hover};
  --secondary: #{$second-color};
  --third: #{$third-color};
  --fourth: #{$fourth-color};
  --secondary-button: #{$second-button};
  --secondary-button-hover: #{$second-button-hover};
  --text-main: #{$main-text};
  --box-shadow-subtle: #{$box-shadow-subtle};
  --box-shadow-hover: #{$box-shadow-hover};
  --text-button: #{$text-button};
  --circle-secondary: #{$circle-secondary};
  --color-block: #{$color-block};
  --color-stroke: #{$color-stroke};
  --color-explain: #{$color-explain};
  --color-text-select: #{$color-text-select};
  --color-error: #{$color-error};
  --color-agree: #{$color-agree};
  --switch-color: #{$switch-color};
  --white: #fff;
}

// @mixin dark-theme {
//   --white: #fff;
// }
